@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

*{
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

#landing-page-wrapper{
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
  background: url("../../assets/Desktop.png") no-repeat center center / cover;
  color: white;
  width: 100vw;
}

.images-png{
  width: 25rem;
  height: 25rem;
}

#landing-page-flex-wrapper{
  display: flex;
  align-content: center; 
  justify-content: center;
  width: 100vw;
  padding-top: 5vw;
}

#landing-page-ul{
  list-style: none;
  width: 60vw;
}

#views-wrapper{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

#views{
  padding-left: 0.5rem;
}

#graph{
  width: 2rem;
  height: 2rem;
  background: url('https://api.iconify.design/bi/graph-up.svg?color=white') no-repeat center center / contain;
}

#share-parent{
  width: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  border: 1px solid #fff;
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: #ffffff20;
  margin-top: 1rem;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 300ms;
}

#share-parent:hover{
  transform: scale(1.1);
}

#send{
  width: 2rem;
  height: 2rem;
  background: url('https://api.iconify.design/ph/share-duotone.svg?color=white') no-repeat center center / contain;
}

@media screen and (min-width: 1440px) {
  #landing-page-wrapper{
    padding-bottom: 5vw;
  }

  #landing-page-flex-wrapper{
    width: 70%;
    padding-top: 3.5vw;
  }

  .images-png{
    width: 35rem;
    height: 35rem;
    transform: translateY(5vw);
  }
}

@media screen and (max-width: 1439px) {
  .images-png{
    transform: translateY(10.8vw);
  }
}

@media screen and (max-width: 975px) {
  #landing-page-flex-wrapper{
    width: 100vw;
    justify-content: flex-start;
  }

  #landing-page-ul{
    width: 100%;  
  }

  .images-png{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  #landing-page-flex-wrapper{
    margin-top: 1rem;
  }
}

@media screen and (max-width: 425px) {
  #landing-page-ul{
    padding-left: 1rem;
  }

  #landing-page-flex-wrapper{
    margin-top: 2rem;
  }
}