@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

#quirks-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 2rem;
  padding-left: 0;
}

#quirks-wrapper li{
  margin-right: 1rem;
}

.quirk{
  width: 14rem;
  height: 14rem;
  font-size: 1rem;
  background: #ffffff20;
  backdrop-filter: blur(10px);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 10%/10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#video-icon{
  width: 5rem;
  height: 5rem;
  background: url('https://api.iconify.design/bx/bx-video.svg?color=white') no-repeat center center / contain; 
}

#video-quirk{
  width: 95%;
}

#infinity-icon{
  width: 6rem;
  height: 6rem;
  background: url('https://api.iconify.design/ion/infinite-outline.svg?color=white') no-repeat center center / contain;
}

#mobile-icon{
  width: 5rem;
  height: 5rem;
  transform: translateY(0.5rem);
  background: url('https://api.iconify.design/bytesize/mobile.svg?color=white') no-repeat center center / contain;
}

#access-quirk{
  width: 95%;
}

#iframe-quirks-wrapper{
  display: none;
}

@media screen and (max-width: 590px) {
  #quirks-wrapper{
    display: none;
  }

  #iframe-quirks-wrapper{
    display: flex;
    list-style: none;
    width: 95%;
    padding: 0;
    margin-top: 2.5rem;
    background: #ffffff20;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  #iframe-quirk{
    width: 100%;
  }

  #iframe-quirk iframe{
    width: 100%;
    height: 50vh;
    border-radius: 20px 20px 0 0;
  }

  .iframe-sibling-quirk{
    display: flex;
    margin-left: 2rem;
  }

  .iframe-sibling-quirk h2{
    font-size: 1.2rem;
  }

  #video-icon{
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(-0.5rem, 0.5rem);
    background: url('https://api.iconify.design/bx/bx-video.svg?color=white') no-repeat center center / contain; 
  }

  #infinity-icon{
    width: 3rem;
    height: 3.5rem;
    transform: translateX(-0.5rem);
    background: url('https://api.iconify.design/ion/infinite-outline.svg?color=white') no-repeat center center / contain;
  }

  #mobile-icon{
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(-0.5rem, 0.5rem);
    background: url('https://api.iconify.design/bytesize/mobile.svg?color=white') no-repeat center center / contain;
  }

  
}
